<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="author" content="#FF8000 - Network & Cloud Consultant">
<meta name="language" content="{{ lang }}">
{% if lang=="fr" %}
<title>#FF8000: consultant freelance en Design Reseau et Cloud</title>
<meta name="description" content="FF8000 vous accompagne dans la conception, l'optimisation et l'automatisation de vos infrastructures réseau pour une performance optimale et une gestion simplifiée.">
{% elif lang=="en" %}
<title>#FF8000: Freelance Consultant for Network and Cloud Design</title>
<meta name="description" content="FF8000 supports you in the design, optimization, and automation of your network infrastructures for optimal performance and simplified management.">
{% endif %}
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="canonical" href="https://ff8000.net">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/styles.css">

{% if lang=="fr" %}
<meta property="og:title" content="FF8000 - Expertise en Réseaux et Automatisation">
<meta property="og:description" content="Des solutions réseau performantes et automatisées pour les grandes entreprises.">
<meta property="og:locale" content="fr_FR">
{% elif lang=="en" %}
<meta property="og:title" content="FF8000 - Network Expertise and Automation">
<meta property="og:description" content="High-performance and automated network solutions for large enterprises.">
{% endif %}
<meta property="og:image" content="https://ff8000.net/images/preview.jpg">
<meta property="og:url" content="https://ff8000.net">
<meta property="og:type" content="website">

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "FF8000",
      "url": "https://ff8000.net",
      "logo": "https://ff8000.net/logo.png",
{% if lang=="fr" %}
      "description": "FF8000 vous accompagne dans la conception, l'optimisation et l'automatisation de vos infrastructures réseau.",
{% elif lang=="en" %}
      "description": "FF8000 supports you in the design, optimization, and automation of your network infrastructures."
{% endif %}
      "sameAs": [
        "https://www.linkedin.com/company/ff8000",
      ]
    }
</script>