<h2>Notre offre</h2>
<div class="container-fluid my-5">
   <div class="row justify-content-center g-1" id="offers-container">

{% for tile in data.tiles.offers %}        
       <div class="col-auto">
           <a class="tile bg-light shadow p-3 rounded d-flex flex-column h-100">
               <img src="{{ tile.image }}" class="img50" alt="{{ tile.alt }}">
               <p class="mt-3">{{ tile.title }}</p>
               <div class="overlay-text">{{ tile.description }}</div>
           </a>
       </div>
{% endfor %} 

   </div> <!-- tile-container -->
</div> <!-- container my-5 -->
<br>
<h2>Nos domaines d'expertise</h2>
<div class="container-fluid my-5">
   <div class="row justify-content-center g-1" id="domains-container">

{% for tile in data.tiles.domains %}        
       <div class="col-auto">
           <a class="tile bg-light shadow p-3 rounded d-flex flex-column h-100">
               <img src="{{ tile.image }}" class="img80" alt="{{ tile.alt }}">
               <p class="mt-3">{{ tile.title }}</p>
               <div class="overlay-text">{{ tile.description }}</div>
           </a>
       </div>
{% endfor %}        

   </div> <!-- tile-container -->
</div> <!-- container my-5 -->